{% extends "layout.html" %}

{% block content %}
    <div class="container py-5">
        <h2 class="text-center mb-4">Personalised Treatment Heart Failure</h2>

        <!-- Download Report Section -->
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Download Your Report</h5>
                <p class="card-text">Click the button below to download a detailed PDF report of your prediction results.</p>
                <a href="{{ url_for('main.download_report') }}" class="btn btn-primary btn-lg mt-3">
                    <i class="fas fa-download"></i> Download Report
                </a>
            </div>
        </div>


        <!-- Report Sections -->
        {% for section in report %}
            <div class="section mb-3">
                {% if section.title %}
                    <h3 class="mb-4">{{ section.title }}</h3>
                {% endif %}
                <div>{{ section.content|safe }}</div>
                {% if section.title == "Feature Importance" and explanation %}
                    <p class="mt-3" style="font-size: 1.1rem; line-height: 1.6;">
                        {{ explanation }}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}