<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobilab&Care</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar position-sticky">
                <div class="position-sticky d-flex flex-column h-100">
                    <img src="static/img/mobilab.png" alt="logo" class="logo mb">
                    
                    <!-- Wrapper for main links -->
                    <ul class="nav flex-column mt-4">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.input_params') }}">
                                <i class="fas fa-pen"></i> Input Parameters
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.dashboard') }}">
                                <i class="fas fa-chart-line"></i> Personalised Treatment
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.models') }}">
                                <i class="fas fa-heartbeat"></i> Models
                            </a>
                        </li>
                        {% if 'admin' in user_roles %}

                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('main.admin') }}">
                            <i class="fas fa-user-tie"></i> Admin
                          </a>
                        </li>
                        {% endif %}
                    </ul>
            
                    <!-- Logout button pushed to bottom -->
                    <ul class="nav flex-column mt-auto mb-4">
                        <li>
                            <p class="text-muted small font-italic">&copy; Jeffrey Stynen</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link logout-link" href="{{ url_for('main.logout') }}">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% if page_name %}
                    {% with messages = get_flashed_messages(category_filter=[page_name]) %}
                        {% if messages %}
                            <div class="container mt-3">
                                {% for message in messages %}
                                    <div class="alert alert-danger alert-dismissable show fade" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                            <span aria-hidden="true">x</span>
                                        </button> 
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {% block content %}
                <!-- Content will be inserted here -->
                {% endblock %}
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
